@import "./normalize";
@import "./fonts";
@import "./vars";
@import "./animation";

html {
	box-sizing: border-box;
}
*,
*::after,
*::before {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}
body {
	font-family: "Open Sans", sans-serif;
	color: #aaa;
	font-size: 16px;
	font-weight: 400;
	background: #0c0b08;
	line-height: 175%;
	letter-spacing: 0.64px;
	outline: #f5efdb;
}
a {
	text-decoration: none;
	color: inherit;
	transition: color 0.3s;
}
ul,
li {
	list-style: none;
}
button {
	margin: 0;
	padding: 0;
	background: none;
	color: #aaa;
	border: none;
	cursor: pointer;
	transition: color 0.3s;
}
.btn {
	display: inline-block;
	color: #0c0b08;
	font-family: "Cormorant Upright", serif;
	font-size: 16px;
	font-weight: 700;
	line-height: 175%;
	letter-spacing: 0.64px;
	padding: 8px 32px;
	background: #dcca87;
	transition: all 0.3s;
	&:hover {
		background: #fcd753;
		transform: translate(3px, -2px);
	}
}
.title {
	color: #dcca87;
	font-family: "Cormorant Upright", serif;
	font-weight: 600;
	line-height: 130%;
	letter-spacing: 1.92px;
	text-transform: capitalize;
}
.subtitle {
	position: relative;
	font-family: "Cormorant Upright", serif;
	font-size: 23px;
	font-weight: 700;
	line-height: 130%;
	letter-spacing: 0.92px;
	text-transform: capitalize;
	margin-bottom: 25px;
	&::before {
		content: "";
		position: absolute;
		background-image: url("../assets/decor.svg");
		width: 40px;
		height: 10px;
		left: 0;
		bottom: -15px;
	}
}
.big-container {
	max-width: 1720px;
	padding: 0 20px;
	margin: 0 auto;
}
.container {
	max-width: 1340px;
	padding: 0 20px;
	margin: 0 auto;
}
.header {
	margin-bottom: 72px;
	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 120px;
	}
}

.logo {
	width: 200px;
}
.menu {
	margin-left: 15px;
}
.menu-list {
	display: flex;

	gap: 32px;

	&__link {
		font-family: "Open Sans", sans-serif;
		font-size: 16px;

		font-weight: 400;
		&:hover {
			color: #dcca87;
		}
	}
}
.register-box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 57px;

	&__liner {
		width: 1px;
		height: 57px;
		background: linear-gradient(0deg, transparent, #929292, transparent);
	}
	&__login {
		padding-right: 50px;
	}

	&__btn {
		font-weight: 600;
		text-transform: capitalize;
		&:hover {
			color: #dcca87;
		}
	}

	&__booking {
		padding-left: 50px;
	}
}

.hero {
	margin-bottom: 150px;
	&__tags {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 40px;
		span {
			writing-mode: vertical-rl;
			transform: rotate(180deg);

			font-size: 18px;
			letter-spacing: 0.72px;
		}
	}

	&__wrapper {
		display: flex;
		justify-content: space-between;
		margin-bottom: 88px;
	}

	&__numbers {
		display: flex;
		align-items: center;
		gap: 8px;
		margin: 0 auto;
		color: #f5efdb;

		font-family: "Cormorant Upright", serif;
		font-size: 20px;

		font-weight: 400;
		line-height: 175%;
		letter-spacing: 0.64px;
		span {
			position: relative;
			top: 2px;
			width: 16px;
			height: 1px;
			background: #f5efdb;
		}
	}

	&__scroll {
		display: flex;
		justify-content: flex-end;
	}

	&__scroll-text {
		color: #dcca87;
		font-family: "Cormorant Upright", serif;
		font-size: 16px;
		font-weight: 700;
		line-height: 175%;
		letter-spacing: 0.64px;
		text-transform: uppercase;
		position: relative;

		&::before {
			content: "";
			position: absolute;
			width: 1px;
			height: 61px;
			background: linear-gradient(0deg, transparent, #dcca87);
			top: -80px;
			right: 30px;
		}
	}
}
.hero-box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 180px;

	&__title {
		font-size: 90px;
		font-weight: 600;
		letter-spacing: 3.6px;
		margin-bottom: 32px;
	}

	&__descr {
		font-family: "Open Sans", sans-serif;
		font-size: 16px;
		font-weight: 400;
		line-height: 175%;
		letter-spacing: 0.64px;
		margin-bottom: 32px;
	}

	&__img {
		position: relative;
		img {
			width: 620px;
			height: 690px;
		}
		&::after {
			content: "";
			position: absolute;
			width: 435px;
			height: 435px;
			left: -24px;
			bottom: -24px;
			background: rgb(220, 202, 135);
			z-index: -1;
		}
		&::before {
			content: "";
			position: absolute;
			width: 435px;
			height: 435px;
			right: -24px;
			top: -24px;
			background: rgb(220, 202, 135);
			z-index: -1;
		}
	}
}

.about {
	background-image: url("../assets/bg-about.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	&__inner {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 85px;
	}

	&__content {
		position: relative;
		z-index: 5;
		&--text-right {
			text-align: right;
		}
	}

	&__title {
		position: relative;
		font-size: 64px;
		margin-bottom: 50px;
		&--right {
			&::before {
				content: "";
				position: absolute;
				background-image: url("../assets/decor.svg");
				width: 40px;
				height: 10px;
				right: 0;
				bottom: -15px;
				transform: rotate(180deg);
			}
		}
		&--left {
			&::before {
				content: "";
				position: absolute;
				background-image: url("../assets/decor.svg");
				width: 40px;
				height: 10px;
				left: 0;
				bottom: -15px;
			}
		}
	}

	&__descr {
		margin-bottom: 32px;
	}

	&__img {
		width: 84px;
		height: 703px;
		margin: 128px 0;
		position: relative;

		img {
			height: 100%;
			position: relative;
			z-index: 5;
		}
		&::after {
			content: "";
			position: absolute;
			background-image: url("../assets/g.svg");
			width: 390px;
			height: 415px;
			top: 150px;
			left: -150px;
		}
	}
}
.menu {
	&__inner {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 127px 0;
	}

	&__subtitle {
		color: #fff;
		&::before {
			left: 50%;
			transform: translateX(-50%);
		}
	}

	&__title {
		font-size: 64px;
		letter-spacing: 2.56px;
		margin-bottom: 64px;
	}
}

.menu-content {
	display: flex;
	gap: 32px;

	&__title {
		text-align: center;
		color: #fff;
		font-size: 45px;
		letter-spacing: 1.8px;
		padding-top: 32px;
		margin-bottom: 48px;
	}

	&__item {
		margin-bottom: 40px;
	}

	&__item-name {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__item-title {
		text-align: left;
		margin-right: 30px;
		margin-bottom: 8px;
		max-width: 200px;
		font-family: "Cormorant Upright", serif;
		font-size: 23px;
		font-weight: 700;
	}

	&__item-price {
		font-family: "Cormorant Upright", serif;
		font-size: 23px;
		font-weight: 700;
		position: relative;
		padding-left: 120px;
		margin-left: 30px;

		&::before {
			content: "";
			position: absolute;
			width: 120px;
			height: 1px;
			left: -30px;
			top: 16px;
			background: #fff;
		}
	}

	&__img {
		margin-bottom: 64px;
		position: relative;
	}
}

@import "./media";
